<TABLE class=master style="FONT-FAMILY: arial, helvetica, sans-serif; WIDTH: 1200px; COLOR: #444444; MARGIN: auto; LINE-HEIGHT: 1.2" cellSpacing=0 cellPadding=0 width=100 align=center border=0>
    <TBODY>
    <!--<TR>
        <TH style="PADDING-BOTTOM: 0px" bgColor=#000000><IMG style="DISPLAY: block" border=0 src="http://static.claro.com.pe/mailing/havas/2020/agos/19/Mailing_Suspension_Clientes_Corpo/cabecera.png" width=1600>
        </TH>
    </TR>-->
     
     <!--<TR>
        <TH style="FONT-SIZE: 0px; PADDING-BOTTOM: 20px; TEXT-ALIGN: left; PADDING-TOP: 20px; PADDING-LEFT: 30px; PADDING-RIGHT: 0px" bgColor=8EB1B6 width=1600 height=50></TH></TR>
            <!-- ////BANNER DOBLE///// -->
     
             <!--<tr>
                <th style="padding: 20px 0px 20px 30px; text-align: center; background-color: rgb(142, 177, 182);" bgcolor="8EB1B6" width="1600" height="50">Reporte Principales Pagos Corporativos</th>
            </tr>-->
     
            <tr>
                <th style="padding: 20px 0px 20px 30px; text-align: center; background-color: rgb(142, 177, 182);" bgcolor="8EB1B6" width="1500" height="50">
                    <span style="color: rgb(255, 255, 255); font-size: 30px;">Reporte Status Gestion Casas de Cobranzas</span>
                </th>
            </tr>
     
    <!--<TR bgColor=#f2f2f2>
    <TH style="FONT-SIZE: 18px; FONT-FAMILY: Arial, Helvetica,'&#13';&#10 ;sans-serif; FONT-WEIGHT: 500; COLOR: #000000; TEXT-ALIGN : center; PADDING-TOP: 30px" align=center><B>Reporte Principales Pagos Corporativos</B></TH>
    </TR>-->
    <TR bgColor=#f2f2f2>
    <TH style="PADDING-BOTTOM: 15px; PADDING-TOP: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px"></TH>
    </TR>
    <TR bgColor=#f2f2f2>
                <th
                    align="justify"
                    style="
                        text-align: justify;
                        font-size: 16px;
                        font-family: Arial, Helvetica, sans-serif;
                        color: #000000;
                        font-weight: 500;
                        padding: 0 30px;"
                    class=""
                >
                <p style="text-align: start;color: rgb(36, 36, 36);font-size: 16px;"><strong>Estimados Buenos dias :</strong></p>
<p><span style="text-align: start;color: rgb(36, 36, 36);font-size: 16px;">Comparto el seguimiento de la limpieza de deuda y gestion de las Casas de Cobranza a nivel de cuentas</span></p>
<p><span style="text-align: start;color: rgb(36, 36, 36);font-size: 16px;">Resumen condiciones :</span></p>
<ul>
    <li><span style="text-align: start;color: rgb(36, 36, 36);font-size: 16px;">Se considera las gestiones desde el dia que se asigno</span></li>
    <li><span style="text-align: start;color: rgb(36, 36, 36);font-size: 16px;">Se considera como 1&deg; prioridad la gestiono con contacto.</span></li>
    <li><span style="text-align: start;color: rgb(36, 36, 36);font-size: 16px;">Se considera como 2&deg; prioridad la ultima fecha con gestion.</span></li>
    <li><span style="text-align: start;color: rgb(36, 36, 36);font-size: 16px;">Se considera como 3&deg; prioridad que tenga fecha de compromiso.</span></li>
    <li><span style="text-align: start;color: rgb(36, 36, 36);font-size: 16px;">Se considera como 4&deg; prioridad el tipo de gestion de manera asc.</span></li>
</ul>
<p><span style="text-align: start;color: rgb(36, 36, 36);font-size: 16px;">Se comparte la ruta del detalle de gestion de cada casa de cobranza :</span></p>
<p><span style="text-align: start;color: rgb(36, 36, 36);font-size: 16px;"><strong style="text-align: start;color: rgb(18, 82, 111);font-size: 16px;">Z:\GRANDES EMPRESAS\REPORTES\COMITE\2024\<span style="color: inherit;border: 0px;">Status</span>_Gestion_Diaria_Casas</strong><br></span></p>
 
            </tr>
                </th>
 <!-------------------------------------------------------------------TABLA NUMERO1 --------------------------------------------------------------------------------->            

            <tr>
                <th style="height: 10px; padding: 5px;" bgcolor="#f2f2f2"></th>
            </tr>
            <tr bgcolor="#f2f2f2">
                <th class="" style="text-align: justify; font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: #000000;
                font-weight: 1500; padding: 0 30px;" align="justify"><strong>Resumen Deuda Asignada por Segmento Corporativo</br></strong>
                </th>
            </tr>
            <tr> <th style="height: 10px; padding: 5px;" bgcolor="#f2f2f2"></th> </tr>
            <tr>
            <th bgcolor="#f2f2f2">
            <table class="radius" style="border-radius:10px 10px 0 0; margin: 0 32px;" border="0" width="1100" cellspacing="0" cellpadding="0" bgcolor="#5B7980">
            <tbody>
                <tr> <th style="width: 120px;" width="120"> <table  border="0" width="100%" cellspacing="0" cellpadding="0"> <tbody> <tr>
                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 100px;"><strong><font color="#FFFFFF">Tipo Corporativo</font></strong></td>
                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Gestor</font></strong></td>
                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Cuentas</font></strong></td>
                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Total Asignado</font></strong></td>
                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Por Vencer</font></strong></td>
                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Vencida</font></strong></td>
                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Deuda Total</font></strong></td>
                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Reclamo Soles</font></strong></td>
                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Efectividad</font></strong></td>
           
            </tr>
            </tbody>
            </table>
            </th>
            </tr> </tbody> </table> </th> </tr> <tr>
            <th bgcolor="#f2f2f2"> <table class="radius" style="border-radius:0 0 10px 10px; margin: 0 32px;" border="0" width="1100" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
            <tbody> <tr> <th style="width: 120px;" width="120"> <table border="0" width="100%" cellspacing="0" cellpadding="0"> <tbody>
                {% for index , row in data.iterrows() %}
                <tr><td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 100px;">{{row["TIPO_CORPORATIVO"]}}</td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["GESTOR_ASIGNADO"]}}</td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["CUENTAS"]}}</td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["TOTAL_A_GESTIONAR_S"]}}</td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["POR_VENCER"]}}</td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["VENCIDA"]}}</td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["DEUDA_SOLES"]}}</td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["RECLAMO_SOLES"]}}</td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["%EFECTIVIDAD"]}}%</td>
                    </tr>
                {% endfor %}
                </tbody></table></th></tr></tbody></table></th></tr>
                <th style="padding: 10px;" bgcolor="#f2f2f2">&nbsp;</th>
                 <!-------------------------------------------------------------------TABLA NUMERO1 --------------------------------------------------------------------------------->            
 <!-------------------------------------------------------------------TABLA NUMERO1 --------------------------------------------------------------------------------->            

 <tr>
    <th style="height: 10px; padding: 5px;" bgcolor="#f2f2f2"></th>
</tr>
<tr bgcolor="#f2f2f2">
    <th class="" style="text-align: justify; font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: #000000;
    font-weight: 1500; padding: 0 30px;" align="justify"><strong>Resumen Deuda Asignada por Segmento Comercial</br></strong>
    </th>
</tr>
<tr> <th style="height: 10px; padding: 5px;" bgcolor="#f2f2f2"></th> </tr>
<tr>
<th bgcolor="#f2f2f2">
<table class="radius" style="border-radius:10px 10px 0 0; margin: 0 32px;" border="0" width="1100" cellspacing="0" cellpadding="0" bgcolor="#5B7980">
<tbody>
    <tr> <th style="width: 120px;" width="120"> <table  border="0" width="100%" cellspacing="0" cellpadding="0"> <tbody> <tr>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 100px;"><strong><font color="#FFFFFF">Segmento Comercial</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Gestor</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Cuentas</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Total Asignado</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Por Vencer</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Vencida</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Deuda Total</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Reclamo Soles</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Efectividad</font></strong></td>

</tr>
</tbody>
</table>
</th>
</tr> </tbody> </table> </th> </tr> <tr>
<th bgcolor="#f2f2f2"> <table class="radius" style="border-radius:0 0 10px 10px; margin: 0 32px;" border="0" width="1100" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody> <tr> <th style="width: 120px;" width="120"> <table border="0" width="100%" cellspacing="0" cellpadding="0"> <tbody>
    {% for index , row in data1.iterrows() %}
    <tr><td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 100px;">{{row["SEGMENTO_COMERCIAL"]}}</td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["GESTOR_ASIGNADO"]}}</td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["CUENTAS"]}}</td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["TOTAL_A_GESTIONAR_S"]}}</td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["POR_VENCER"]}}</td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["VENCIDA"]}}</td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["DEUDA_SOLES"]}}</td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["RECLAMO_SOLES"]}}</td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["%EFECTIVIDAD"]}}%</td>
        </tr>
    {% endfor %}
    </tbody></table></th></tr></tbody></table></th></tr>
    <th style="padding: 10px;" bgcolor="#f2f2f2">&nbsp;</th>
     <!-------------------------------------------------------------------TABLA NUMERO1 --------------------------------------------------------------------------------->            

            <tr>
                <th style="height: 10px; padding: 5px;" bgcolor="#f2f2f2"></th>
            </tr>
            <tr bgcolor="#f2f2f2">
                <th class="" style="text-align: justify; font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: #000000;
                font-weight: 1500; padding: 0 30px;" align="justify"><strong>Resumen Deuda Asignada por Cartera</br></strong>
                </th>
            </tr>
            <tr> <th style="height: 10px; padding: 5px;" bgcolor="#f2f2f2"></th> </tr>
            <tr>
            <th bgcolor="#f2f2f2">
            <table class="radius" style="border-radius:10px 10px 0 0; margin: 0 32px;" border="0" width="1100" cellspacing="0" cellpadding="0" bgcolor="#5B7980">
            <tbody>
                <tr> <th style="width: 120px;" width="120"> <table  border="0" width="100%" cellspacing="0" cellpadding="0"> <tbody> <tr>
                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 200px;"><strong><font color="#FFFFFF">Cartera</font></strong></td>
                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Gestor</font></strong></td>
                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Cuentas</font></strong></td>
                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Total Asignado</font></strong></td>
                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Por Vencer</font></strong></td>
                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Vencida</font></strong></td>
                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Deuda Total</font></strong></td>
                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Reclamo Soles</font></strong></td>
                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Efectividad</font></strong></td>
           
            </tr>
            </tbody>
            </table>
            </th>
            </tr> </tbody> </table> </th> </tr> <tr>
            <th bgcolor="#f2f2f2"> <table class="radius" style="border-radius:0 0 10px 10px; margin: 0 32px;" border="0" width="1100" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
            <tbody> <tr> <th style="width: 120px;" width="120"> <table border="0" width="100%" cellspacing="0" cellpadding="0"> <tbody>
                {% for index , row in data2.iterrows() %}
                <tr><td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 200px;">{{row["NOMBRE_CARTERA"]}}</td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["GESTOR_ASIGNADO"]}}</td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["CUENTAS"]}}</td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["TOTAL_A_GESTIONAR_S"]}}</td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["POR_VENCER"]}}</td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["VENCIDA"]}}</td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["DEUDA_SOLES"]}}</td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["RECLAMO_SOLES"]}}</td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["%EFECTIVIDAD"]}}%</td>
                    </tr>
                {% endfor %}
                </tbody></table></th></tr></tbody></table></th></tr>
                <th style="padding: 10px;" bgcolor="#f2f2f2">&nbsp;</th>
<!-------------------------------------------------------------------TABLA NUMERO1 --------------------------------------------------------------------------------->            

                 <tr>
                    <th style="height: 10px; padding: 5px;" bgcolor="#f2f2f2"></th>
                </tr>
                <tr bgcolor="#f2f2f2">
                    <th class="" style="text-align: justify; font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: #000000;
                    font-weight: 1500; padding: 0 30px;" align="justify"><strong>Resumen Gestion por Segmento Corporativo y Gestor</br></strong>
                    </th>
                </tr>
                <tr> <th style="height: 10px; padding: 5px;" bgcolor="#f2f2f2"></th> </tr>
                <tr>
                <th bgcolor="#f2f2f2">
                <table class="radius" style="border-radius:10px 10px 0 0; margin: 0 32px;" border="0" width="1100" cellspacing="0" cellpadding="0" bgcolor="#5B7980">
                <tbody>
                    <tr> <th style="width: 120px;" width="120"> <table  border="0" width="100%" cellspacing="0" cellpadding="0"> <tbody> <tr>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 100px;"><strong><font color="#FFFFFF">Tipo Corporativo</font></strong></td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Gestor Asignado</font></strong></td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Contacto</font></strong></td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">No Contacto</font></strong></td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Sin Gestión</font></strong></td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Cuentas Totales</font></strong></td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">%Contacto</font></strong></td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">%No Contacto</font></strong></td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">%Sin Gestion</font></strong></td>
               
                </tr>
                </tbody>
                </table>
                </th>
                </tr> </tbody> </table> </th> </tr> <tr>
                <th bgcolor="#f2f2f2"> <table class="radius" style="border-radius:0 0 10px 10px; margin: 0 32px;" border="0" width="1100" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                <tbody> <tr> <th style="width: 120px;" width="120"> <table border="0" width="100%" cellspacing="0" cellpadding="0"> <tbody>
                    {% for index , row in data3.iterrows() %}
                    <tr><td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 100px;">{{row["TIPO_CORPORATIVO"]}}</td>
                        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["GESTOR_ASIGNADO"]}}</td>
                        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["CONTACTO"]}}</td>
                        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["NO CONTACTO"]}}</td>
                        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["SIN GESTION"]}}</td>
                        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["CUENTAS"]}}</td>
                        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["%CONTACTO"]}}</td>
                        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["%NO_CONTACTO"]}}</td>
                        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["%SIN_GESTION"]}}</td>
                        </tr>
                    {% endfor %}
                    </tbody></table></th></tr></tbody></table></th></tr>
                    <th style="padding: 10px;" bgcolor="#f2f2f2">&nbsp;</th>
    
                    <!-------------------------------------------------------------------TABLA NUMERO1 --------------------------------------------------------------------------------->            
<!-------------------------------------------------------------------TABLA NUMERO1 --------------------------------------------------------------------------------->            

<tr>
    <th style="height: 10px; padding: 5px;" bgcolor="#f2f2f2"></th>
</tr>
<tr bgcolor="#f2f2f2">
    <th class="" style="text-align: justify; font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: #000000;
    font-weight: 1500; padding: 0 30px;" align="justify"><strong>Resumen Gestion por Segmento Comercial y Gestor</br></strong>
    </th>
</tr>
<tr> <th style="height: 10px; padding: 5px;" bgcolor="#f2f2f2"></th> </tr>
<tr>
<th bgcolor="#f2f2f2">
<table class="radius" style="border-radius:10px 10px 0 0; margin: 0 32px;" border="0" width="1100" cellspacing="0" cellpadding="0" bgcolor="#5B7980">
<tbody>
    <tr> <th style="width: 120px;" width="120"> <table  border="0" width="100%" cellspacing="0" cellpadding="0"> <tbody> <tr>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 100px;"><strong><font color="#FFFFFF">Segmento Comercial</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Gestor Asignado</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Contacto</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">No Contacto</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Sin Gestión</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Cuentas Totales</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">%Contacto</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">%No Contacto</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">%Sin Gestion</font></strong></td>

</tr>
</tbody>
</table>
</th>
</tr> </tbody> </table> </th> </tr> <tr>
<th bgcolor="#f2f2f2"> <table class="radius" style="border-radius:0 0 10px 10px; margin: 0 32px;" border="0" width="1100" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody> <tr> <th style="width: 120px;" width="120"> <table border="0" width="100%" cellspacing="0" cellpadding="0"> <tbody>
    {% for index , row in data3_3.iterrows() %}
    <tr><td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 100px;">{{row["SEGMENTO_COMERCIAL"]}}</td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["GESTOR_ASIGNADO"]}}</td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["CONTACTO"]}}</td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["NO CONTACTO"]}}</td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["SIN GESTION"]}}</td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["CUENTAS"]}}</td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["%CONTACTO"]}}</td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["%NO_CONTACTO"]}}</td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["%SIN_GESTION"]}}</td>
        </tr>
    {% endfor %}
    </tbody></table></th></tr></tbody></table></th></tr>
    <th style="padding: 10px;" bgcolor="#f2f2f2">&nbsp;</th>

    <!-------------------------------------------------------------------TABLA NUMERO1 --------------------------------------------------------------------------------->            

                 <tr>
                    <th style="height: 10px; padding: 5px;" bgcolor="#f2f2f2"></th>
                </tr>
                <tr bgcolor="#f2f2f2">
                    <th class="" style="text-align: justify; font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: #000000;
                    font-weight: 1500; padding: 0 30px;" align="justify"><strong>Resumen Gestion por Cartera y Gestor</br></strong>
                    </th>
                </tr>
                <tr> <th style="height: 10px; padding: 5px;" bgcolor="#f2f2f2"></th> </tr>
                <tr>
                <th bgcolor="#f2f2f2">
                <table class="radius" style="border-radius:10px 10px 0 0; margin: 0 32px;" border="0" width="1100" cellspacing="0" cellpadding="0" bgcolor="#5B7980">
                <tbody>
                    <tr> <th style="width: 120px;" width="120"> <table  border="0" width="100%" cellspacing="0" cellpadding="0"> <tbody> <tr>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 200px;"><strong><font color="#FFFFFF">Cartera</font></strong></td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Gestor</font></strong></td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Contacto</font></strong></td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">No Contacto</font></strong></td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Sin Gestión</font></strong></td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Cuentas Totales</font></strong></td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">%Contacto</font></strong></td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">%No Contacto</font></strong></td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">%Sin Gestion</font></strong></td>
               
                </tr>
                </tbody>
                </table>
                </th>
                </tr> </tbody> </table> </th> </tr> <tr>
                <th bgcolor="#f2f2f2"> <table class="radius" style="border-radius:0 0 10px 10px; margin: 0 32px;" border="0" width="1100" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                <tbody> <tr> <th style="width: 120px;" width="120"> <table border="0" width="100%" cellspacing="0" cellpadding="0"> <tbody>
                    {% for index , row in data4.iterrows() %}
                    <tr><td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 200px;">{{row["NOMBRE_CARTERA"]}}</td>
                        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["GESTOR_ASIGNADO"]}}</td>
                        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["CONTACTO"]}}</td>
                        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["NO CONTACTO"]}}</td>
                        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["SIN GESTION"]}}</td>
                        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["CUENTAS"]}}</td>
                        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["%CONTACTO"]}}</td>
                        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["%NO_CONTACTO"]}}</td>
                        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["%SIN_GESTION"]}}</td>
                        </tr>
                    {% endfor %}
                    </tbody></table></th></tr></tbody></table></th></tr>
                    <th style="padding: 10px;" bgcolor="#f2f2f2">&nbsp;</th>
    

     <!-------------------------------------------------------------------TABLA NUMERO2 --------------------------------------------------------------------------------->            
     
        
     
                        <tr>
                            <th style="height: 10px; padding: 5px;" bgcolor="#f2f2f2"></th>
                        </tr>
                        <tr bgcolor="#f2f2f2">
                            <th class="" style="text-align: justify; font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: #000000;
                            font-weight: 1500; padding: 0 30px;" align="justify"><strong>Top Cuentas Corporativos por Segmento</br></strong>
                            </th>
                        </tr>
                        <tr> <th style="height: 10px; padding: 5px;" bgcolor="#f2f2f2"></th> </tr>
                        <tr>
                        <th bgcolor="#f2f2f2">
                        <table class="radius" style="border-radius:10px 10px 0 0; margin: 0 32px;" border="0" width="1100" cellspacing="0" cellpadding="0" bgcolor="#5B7980">
                        <tbody>
                            <tr> <th style="width: 120px;" width="120"> <table  border="0" width="100%" cellspacing="0" cellpadding="0"> <tbody> <tr>
                            <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Region</font></strong></td>
                            <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Gestor</font></strong></td>
                            <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Contacto</font></strong></td>
                            <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">No Contacto</font></strong></td>
                            <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Sin Gestion</font></strong></td>
                            <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Cuentas Totales</font></strong></td>
                            <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">%Contacto</font></strong></td>
                            <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">%No Contacto</font></strong></td>
                            <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">%Sin Gestión</font></strong></td>
                        </tr>
                        </tbody>
                        </table>
                        </th>
                        </tr> </tbody> </table> </th> </tr> <tr>
                        <th bgcolor="#f2f2f2"> <table class="radius" style="border-radius:0 0 10px 10px; margin: 0 32px;" border="0" width="1100" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                        <tbody> <tr> <th style="width: 120px;" width="120"> <table border="0" width="100%" cellspacing="0" cellpadding="0"> <tbody>
                            {% for index , row in data5.iterrows() %}
                            <tr><td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["REGION"]}}</td>
                                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["GESTOR_ASIGNADO"]}}</td>
                                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["CONTACTO"]}}</td>
                                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["NO CONTACTO"]}}</td>
                                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["SIN GESTION"]}}</td>
                                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["CUENTAS"]}}</td>
                                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["%CONTACTO"]}}</td>
                                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["%NO_CONTACTO"]}}</td>
                                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["%SIN_GESTION"]}}</td>
     
               
                                </tr>
                            {% endfor %}
                            </tbody></table></th></tr></tbody></table></th></tr>
                            <th style="padding: 10px;" bgcolor="#f2f2f2">&nbsp;</th>
               
     
                           
     
                <TR bgColor=#f2f2f2>
                    <TH style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-WEIGHT: 900; COLOR: #000000; PADDING-BOTTOM: 0px; TEXT-ALIGN: justify; PADDING-TOP: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px">
                    </TH>
                </TR>
                    <TR>
                    <TH style="PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px" bgColor=#f2f2f2>
                    </TH>
                </TR>
               
                   <TR>
                    <TH bgColor=#f2f2f2>
                    <TABLE style="BACKGROUND: #ffffff; PADDING-TOP: 0px" cellSpacing=0 cellPadding=0 width="100%" border=0>
                    <TBODY>
                    <TR>
                    <TH align=center>
                    <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
                    <TBODY>
                    <TR>
                    <TH style="FONT-SIZE: 13px; FONT-FAMILY: arial, helvetica, sans-serif; FONT-WEIGHT: 500; COLOR: #ffffff; PADDING-BOTTOM: 5px; PADDING-TOP: 5px" bgColor=#abafb0 align=center>Cualquier cosulta, quedo atento </TH></TR>
                    <TR>
                    <TH style="FONT-FAMILY: Arial,Helvetica,sans-serif; BACKGROUND: white; PADDING-BOTTOM: 15px; TEXT-ALIGN: justify; PADDING-TOP: 5px"></TH></TR></TBODY></TABLE></TH></TR></TBODY></TABLE></TH></TR></TBODY></TABLE>
                   